package components

templ List() {
	<section class="flex items-center justify-center py-20 min-w-screen">
        <div>
            <div class="container flex flex-col items-start mx-auto lg:items-center">
                { children... }
            </div>
        </div>
    </section>
}